RewriteEngine On

# Разрешить прямой доступ к файлу index.php
#RewriteRule ^index\.php$ - [L]

# Перенаправить все остальные запросы на контроллер
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ public/index.php?url=$1 [QSA,L]